# remap prefix from 'Ctrl-b' to 'Alt-a'
# Easier to press on my keyboard
unbind C-b
set-option -g prefix M-a
bind-key M-a send-prefix

# split panes using | and -
# I find this more intuitive than having to remember characters
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# I am usually pretty fast about switching between panels on command line,
# so set the repeat buffer to zero so you can quickly go back to what you were doing
set-option repeat-time 0

# reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.tmux.conf

# Enable Alt+arrows to quickly switch panels without using the Alt-a prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D
